{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-primary">My Blogs</h2>
    
    {% if blogs %}
        <div class="list-group">
            {% for blog in blogs %}
            <div class="list-group-item mb-3 shadow-sm p-3 rounded">
                <h4>
                    <a href="{% url 'blog:blog_detail' blog.pk %}"  style="text-decoration: none; color: #2C4080;">
                        {{ blog.title }}
                    </a>
                </h4>
                <p class="text-muted mb-2">
                    <i class="bi bi-calendar-event"></i> {{ blog.created_at|date:"F d, Y" }}
                </p>
                <p>{{ blog.content|truncatechars:40 }}</p>

                <div class="mt-3 d-flex gap-2">
                    <a href="{% url 'blog:update_blog' blog.pk %}" class="text-warning fs-5" title="Edit">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <form action="{% url 'blog:delete_blog' blog.pk %}" method="get" onsubmit="return confirm('Are you sure you want to delete this blog?');">
                        <button type="submit" class="btn p-0 text-danger fs-5 border-0 bg-transparent" title="Delete">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>You haven't written any blogs yet.</p>
    {% endif %}
</div>
{% endblock %}
